include MANIFEST.in
include README*
include NEWS*
include html/*
include setup.py
include lib/pikzie/*.py
include lib/pikzie/*/*.py
include test/*.py
include test/*/*.py
include test/*/*/*.py
include po/*.po
include data/locale/*/*/*
include license/*.txt
